.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}
.form-horizontal .controls {
    margin-left: 180px;
}
.content {
	padding-top: 5px;
	margin-top: 2px;
	font-size: 14px !important;
	margin-left: 170px !important;
}
.detail-modal {
	left: 31%;
	width: 80%;
}
.modal.fade.in {
	top: 5%;
}